<div>
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/events/new">Make Event</a></li>
  <li role="presentation"><a href="/events/<%= session[:event_id] %>">Event Status</a></li>
    </ul>
  </nav>
  <a href="/"><img src="/images/rallytally.png" width="20%" height="20%"></a>
  <br>
</div>


<!-- Hardcoded Nav-Bar above -->

<div>
  <center>
    <img src="images/rallytally_title.png" height="70%" width="70%">
       <p><h2>For when you just don't have the<br>patience to tally up them rally's votes.</h2><br></p>
    <br>
    <p>
      <%= link_to "Start Inviting!", new_event_path %>
    </p>



      <p><a class="btn btn-lg btn-success" href="/user/event/new" role="button">Start Inviting!</a></p>
  </center>
</div>

