 <div>
    <div><br><h1>STEP 2:<br><h2>Venue Choices</h2></h1><br></div><br>

    <% if @venues != nil %>
    <% @venues.each do |venue| %>
      <div class="venuebox">
      <ul class="indent_if_newline"><li><%= venue.name %></li></ul>
      </div>
    <% end %>
  <% end %>

    <form class="form-signin" method="post" action="/events/venues">
      <input type="text" name="name" value="" class="form-control" autocomplete="off" placeholder="Venue..." required autofocus>
      <br>

      <input type="hidden" name="event_id" value=<%= @event.id %>>
      <input class="btn btn-lg btn-warning" type="submit" value="Add Venue">
      <% if @venues.count > 0 %> 
        <a class="btn btn-lg btn-success" href="/events/<%= @event.id %>/guests"> Continue</a>
      <% end %>

    </form>
  </div>




